<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio_app/css/style.css' %}?v=3">

</head>

<body>
<h1>作品No.1　旅行スケジューラー</h1>

<p>旅行スケジューラーは、旅行の計画から当日の確認、旅行後の記録までを
まとめて管理できるアプリです。</p>

<p>行きたい場所やスケジュールを整理したり、地図上に候補地を表示することで
旅行全体を視覚的に把握できます。</p>

<p>また、費用をカテゴリー別にグラフで確認でき、
旅行の振り返りや次回計画にも役立ちます。</p>

<p>ホーム画面のショートカット機能や、URL共有による複数人での閲覧にも対応しており、
友達とのグループ旅行でも便利に使えます。</p>

<div class="preview-images">
    <img src="{% static 'portfolio_app/img/plan_detail_sample.png' %}" alt="プラン詳細画面" class="preview-image">
    <img src="{% static 'portfolio_app/img/plan_list_sample.png' %}" alt="プランリスト画面" class="preview-image">
</div>

<div class="links">
<a href="{% static 'portfolio_app/docs/project_plan.pdf' %}" target="_blank" rel="noopener noreferrer" class="btn-second">企画書</a>

<a href="{% static 'portfolio_app/docs/screen_design.pdf' %}" target="_blank" rel="noopener noreferrer" class="btn-second">画面設計図</a>

<a href="{% static 'portfolio_app/docs/screen_flow.svg' %}" target="_blank" rel="noopener noreferrer" class="btn-second">画面遷移図</a>

<a href="{% static 'portfolio_app/docs/er_diagram.svg' %}" target="_blank" rel="noopener noreferrer" class="btn-second">ER図</a>

</div>

<a href="{% url 'auth_app:login' %}" class="btn">アプリへ</a>

</body>