<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio_app/css/style.css' %}">

</head>

<body>
<h1>作品No.1　旅行スケジューラー</h1>

<p>旅行スケジューラーは、旅行の計画から当日の確認、旅行後の記録までを
まとめて管理できるアプリです。</p>

<p>行きたい場所やスケジュールを整理したり、地図上に候補地を表示することで
旅行全体を視覚的に把握できます。</p>

<p>また、費用をカテゴリー別にグラフで確認でき、
旅行の振り返りや次回計画にも役立ちます。</p>

<p>ホーム画面のショートカット機能や、URL共有による複数人での閲覧にも対応しており、
友達とのグループ旅行でも便利に使えます。</p>

<div class="links">
<a href="https://docs.google.com/document/d/1Iyacfhtu_K9JS5_HSzlInAQIH_h4fbBY6Q429HkdNhU/edit?tab=t.0" target="_blank" class="btn-second">企画書</a>

&nbsp;&nbsp;
<a href="https://app.diagrams.net/#G1vv8E9-N0l0809-yjTB2enjB01DQMwvTF" target="_blank" class="btn-second">画面遷移図</a>

&nbsp;&nbsp;
<a href="" target="_blank" class="btn-second">ER図</a>

</div>

<a href="" class="btn">アプリへ</a>

</head>
