body {
    text-align: left;
    font-size: 17px;
    color: #592d13;
    background-color: #f7f7f7ff;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    position: relative;
}


.container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 0;
}

/* 緑帯 */
.page-title {
    width: 100%;
    max-width: 480px;
    padding: 10px 14px;
    background: #b7d2b1ff;
    color: #447d37;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 20px;
    box-sizing: border-box;
}

label {
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* ヘッダー */
.header {
    background: #b7d2b1ff;
    padding: 10px;
    color: #447d37;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    z-index: 30;
    box-sizing: border-box;
}

.header-title {
    font-size: 20px;
}

.header-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* アイコンボタン */
.icon-btn {
    text-decoration: none;
    font-size: 20px;
}


/* 追加丸ボタン */
.add-btn{
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #ffa158ff; 
   border: 2px solid #592d13;
   color: #592d13;
   font-size: 22px;
   font-weight: bold;
   margin-top: 12px;

  /* ボタンの丸 */
   width: 56px;
   height: 56px;
   border-radius: 50%;

  /* 画面内固定 */
   position: fixed;
   bottom: max(24px, calc((100vh - 600px) / 2 + 24px));
   right: max(24px, calc((100vw - 480px) / 2 + 24px));
   width: 64px;
   height: 64px;
}

/* クリック・タップした瞬間 に適用される状態 */
.button:active{
    background-color: #ff8c3a;
    transform: scale(0.97);
    border: 2px solid #592d13;
}

/* 完了ボタン */
.btn{
   padding: 10px 20px;
   text-decoration: none;
   display: block;
   background-color: #ffa158ff; 
   border: 2px solid #592d13;
   color: white;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   margin-top: 12px;
   width: fit-content;
}

/* クリック・タップした瞬間 に適用される状態 */
.btn:active{
    background-color: #ff8c3a;
    transform: scale(0.97);
    border: 2px solid #592d13;
}

/* 削除ボタン */
.delete-btn{
   padding: 10px 20px;
   text-decoration: none;
   display: block;
   background-color: white; 
   border: 2px solid #592d13;
   color: #990000;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   margin-top: 12px;
   width: fit-content;
}

/* クリック・タップした瞬間 に適用される状態 */
.delete-btn:active{
    background-color: white;
    transform: scale(0.97);
    border: 2px solid #592d13;
}

/* 編集ボタン 大 */
.edit-btn{
   padding: 10px 20px;
   text-decoration: none;
   display: block; 
   background-color: #dccf7fff; 
   border: 2px solid #592d13;
   color: #592d13;
   border-radius: 5px; 
   font-weight: bold;
   margin-top: 12px;
   width: fit-content;
}

/* クリック・タップした瞬間 に適用される状態 */
.edit-btn:active{
    background-color: #c8b85f;
    transform: scale(0.97);
    border: 2px solid #592d13;
}

/* 編集ボタン 小 */
.small-edit-btn{
   padding: 8px 16px;
   text-decoration: none;
   display: block;
   background-color: #dccf7fff; 
   border: 2px solid #592d13;
   color: #592d13;
   border-radius: 5px;
   font-size: 14px;
   font-weight: bold;
   margin-top: 12px;
   width: fit-content;
}

/* クリック・タップした瞬間 に適用される状態 */
.small-edit-btn:active{
    background-color: #c8b85f;
    transform: scale(0.97);
    border: 2px solid #592d13;
}
