{% extends "base.html" %}
{% load static %}

{% block title %}
目的地検索画面
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'layout.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'destinations/destination_search.css' %}?v=3">
{% endblock %}

{% block header %}
    {% include "header.html" with header_title="目的地検索" header_icons='<a href="/memos/list/" class="icon-btn">📝</a><a href="/plans/plan_list/" class="icon-btn">🛫</a><a href="/auth/home/" class="icon-btn">🏠</a>' %}
{% endblock %}

{% block content %} 
    <form method="GET" class="destination-search-form"
        action="{% url 'destinations:destination_search' %}">

        {% if day %}
            <input type="hidden" name="day_schedule_id" value="{{ day.id }}">
        {% endif %}

        <div class="search-row">
            <input type="text" name="q" placeholder="目的地名 入力" value="{{ q }}">
            <button type="submit" class="search-btn">検索</button>
        </div>

             {% if q %}
                {% if destinations %}
                    <div class="search-result-list">
                        {% for d in destinations %}
                            <a class="search-result-item"
                                href="{% url 'destinations:destination_detail' d.id %}{% if day %}?day_schedule_id={{ day.id }}&from=search&q={{ q|urlencode }}{% else %}?from=search&q={{ q|urlencode }}{% endif %}">
                                <p class="search-result-name">{{ d.name }}</p>
                                <p class="search-result-address">{{ d.address }}</p>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="empty-message">目的地がありません</p>
                {% endif %}
            {% endif %}

            {% if day %} <!-- プラン内：目的地を追加 -->
                <a href="{% url 'destinations:destination_create' %}?day_schedule_id={{ day.id }}" class="add-btn">＋</a>
            {% else %} <!-- プラン外：目的地を追加 -->
                <a href="{% url 'destinations:destination_create' %}" class="add-btn">＋</a>
            {% endif %}

    </form>

    {% if modal_destination %}
        {% include "destinations/destination_detail.html" with destination=modal_destination day=day is_owner=is_owner is_registered=False source="search" %}
    {% endif %}

{% endblock %}