<head>
<!-- 画面設計図　スライド24 -->
    <title>目的地検索画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'destinations/destination_search.css' %}">
</head>

<body>

    <div class="page-title">目的地検索</div>

    <form method="GET" class="form-container"
        action="{% url 'destinations:destination_search' %}">
        {% csrf_token %}

        {% if day %}
            <input type="hidden" name="day_schedule_id" value="{{ day.id }}">
        {% endif %}

        <input type="text" name="q" placeholder="目的地名 入力" value="{{ q }}">
        <button type="submit" class="search-btn">検索</button>

             {% if q %}
                {% if destinations %}
                    <ul>
                        {% for d in destinations %}
                            <li>
                                {% if day %}
                                    <a href="{% url 'destinations:destination_detail' d.id %}?day_schedule_id={{ day.id }}">
                                        {{ d.name }}
                                    </a>

                                {% else %}
                                    <a href="{% url 'destinations:destination_detail' d.id %}">
                                        {{ d.name }}
                                    </a>

                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>目的地がありません</p>
                {% endif %}
            {% endif %}
            {% if day %} <!-- プラン内：目的地を追加 -->
                <a href="{% url 'destinations:destination_create' %}?day_schedule_id={{ day.id }}" class="add-btn">＋</a>
            {% else %} <!-- プラン外：目的地を追加 -->
                <a href="{% url 'destinations:destination_create' %}" class="add-btn">＋</a>
            {% endif %}

    </form>
</body> 