{% extends "base.html" %}
{% load static %}

{% block title %}
目的地設定・編集　画面
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    <link rel="stylesheet" href="{% static 'destinations/destination_edit.css' %}?v=7">
{% endblock %}

{% block header %}
    {% include "header.html" with header_title="" header_icons='<a href="/memos/list/" class="icon-btn">📝</a><a href="/plans/plan_list/" class="icon-btn">🛫</a><a href="/auth/home/" class="icon-btn">🏠</a>' %}
{% endblock %}

{% block content %} 
    <form id="destination-form"
        method="POST"
        action="{% if destination %}
                    {% url 'destinations:destination_edit' destination.id %}
                {% else %}
                    {% url 'destinations:destination_create' %}
                {% endif %}"
        class="container">
        {% csrf_token %}

        {% if day %}
            <input type="hidden" name="day_schedule_id" value="{{ day.id }}">
        {% endif %}

        {% if from_page %}
            <input type="hidden" name="from" value="{{ from_page }}">
        {% endif %}

        {% if schedule_id %}
            <input type="hidden" name="schedule_id" value="{{ schedule_id }}">
        {% endif %}

        <label>目的地名</label>
        {{ form.name }}

        <label>住所</label>
        {{ form.address }}

        <label>MAP</label>
        {% if destination %}
            <a href="{% url 'destinations:map_destination' destination.id %}{% if day %}?day_schedule_id={{ day.id }}{% endif %}{% if from_page %}{% if day %}&{% else %}?{% endif %}from={{ from_page }}{% endif %}{% if schedule_id %}{% if day or from_page %}&{% else %}?{% endif %}schedule_id={{ schedule_id }}{% endif %}"
                class="btn map-link">
                    GoogleMap
            </a>
        {% else %}
            <button type="submit" name="action" value="save_and_map" class="btn map-link">
                GoogleMap
            </button> 
        {% endif %}    
        {{ form.latitude }}
        {{ form.longitude }}


        <label>定休日</label>
        <div class="select-buttons">

            <input type="checkbox" name="closed_day" id="mon" value="mon"
                {% if destination and 'mon' in destination.closed_day %}checked{% endif %}>
            <label for="mon" class="select-btn">月</label>

            <input type="checkbox" name="closed_day" id="tue" value="tue"
                {% if destination and 'tue' in destination.closed_day %}checked{% endif %}>
            <label for="tue" class="select-btn">火</label>

            <input type="checkbox" name="closed_day" id="wed" value="wed"
                {% if destination and 'wed' in destination.closed_day %}checked{% endif %}>
            <label for="wed" class="select-btn">水</label>

            <input type="checkbox" name="closed_day" id="thu" value="thu"
                {% if destination and 'thu' in destination.closed_day %}checked{% endif %}>
            <label for="thu" class="select-btn">木</label>

            <input type="checkbox" name="closed_day" id="fri" value="fri"
                {% if destination and 'fri' in destination.closed_day %}checked{% endif %}>
            <label for="fri" class="select-btn">金</label>

            <input type="checkbox" name="closed_day" id="sat" value="sat"
                {% if destination and 'sat' in destination.closed_day %}checked{% endif %}>
            <label for="sat" class="select-btn">土</label>

            <input type="checkbox" name="closed_day" id="sun" value="sun"
            {% if destination and 'sun' in destination.closed_day %}checked{% endif %}>
            <label for="sun" class="select-btn">日</label>

        </div>


        <label>営業時間</label>
        <div class="time-range">
            <input type="time" name="open_at" value="{{ destination.open_at|default:'' }}">
            <span>〜</span>
            <input type="time" name="close_at" value="{{ destination.close_at|default:'' }}">
        </div>

        <label>駐車場</label>
        <div class="select-buttons">
            <input type="radio" name="parking_available" id="parking_yes" value="True"
                {% if destination and destination.parking_available %}checked{% endif %}>
            <label for="parking_yes" class="select-btn">有</label>

            <input type="radio" name="parking_available" id="parking_no" value="False"
                {% if destination and not destination.parking_available %}checked{% endif %}>
            <label for="parking_no" class="select-btn">無</label>
        </div>
        <div class="fee-row">
            <input type="text" name="parking_fee" placeholder="金額 入力" value="{{ destination.parking_fee|default:'' }}">
            <span class="yen-label">円</span>
        </div>

        <label>入場料</label>
        <div class="select-buttons">
            <input type="radio" name="admission_available" id="ticket_yes" value="True"
                {% if destination and destination.admission_available %}checked{% endif %}>
            <label for="ticket_yes" class="select-btn">有</label>

            <input type="radio" name="admission_available" id="ticket_no" value="False"
                {% if destination and not destination.admission_available %}checked{% endif %}>
            <label for="ticket_no" class="select-btn">無</label>
        </div>
        <div class="fee-row">
            <input type="text" name="admission_fee" placeholder="金額 入力" value="{{ destination.admission_fee|default:'' }}">
            <span class="yen-label">円</span>
        </div>

        <label>リンク</label>
        <input type="text"  name="url" placeholder="入力" value="{{ destination.url|default:'' }}">

        <label>メモ</label>
        {{ form.memo }}

    </form>

    <div class="button-row container">
        <div class="main-buttons">
            <button type="submit" name="action" value="save" class="btn" form="destination-form">完了</button>
        
            {% if day and not schedule_id %}
                <button type="submit" name="action" value="save_and_set" class="btn" form="destination-form">予定に設定</button>
            {% endif %}
        </div>

        <!-- 削除 -->
        {% if destination %}
            {% if day %}
                <a href="{% url 'destinations:destination_delete' destination.id %}?day_schedule_id={{ day.id }}{% if from_page %}&from={{ from_page }}{% endif %}{% if schedule_id %}&schedule_id={{ schedule_id }}{% endif %}" class="delete-btn">
                    削除
                </a>
            {% else %}
                <a href="{% url 'destinations:destination_delete' destination.id %}{% if from_page or schedule_id %}?{% endif %}{% if from_page %}from={{ from_page }}{% endif %}{% if from_page and schedule_id %}&{% endif %}{% if schedule_id %}schedule_id={{ schedule_id }}{% endif %}" class="delete-btn">
                    削除
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}