<head>
<!-- 画面設計図　スライド23 -->
    <title>ピン削除画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'destinations/map_pin_delete.css' %}">
</head>

<body>
    <div class="page-title"></div>
    
    <div class="modal-overlay">
        <div class="form-container modal-box">

            <p class="modal-message">パン屋ピンを削除しますか？</p>
            
            <div class="delete-actions">
                <a href="{% url 'destinations:map_destination' %}" class="btn-delete">削除</a>
                <a href="{% url 'destinations:map_pin_edit' %}" class="btn-cancel">戻る</a>
            </div>
                
        </div>
    </div>

</body>