<head>
<!-- 画面設計図　スライド23 -->
    <title>ピン削除画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'destinations/map_pin_delete.css' %}">
</head>

<body>
    <div class="page-title"></div>
    
    <div class="modal-overlay">
        <div class="form-container modal-box">

            <p class="modal-message">"{{ pin.name }}ピン"を削除しますか？</p>
            
            <div class="delete-actions">
                <form method="POST">
                    {% csrf_token %}

                    {% if day_schedule_id %}
                        <input type="hidden" name="day_schedule_id" value="{{ day_schedule_id }}">
                    {% endif %}
                    {% if from_page %}
                        <input type="hidden" name="from" value="{{ from_page }}">
                    {% endif %}
                    {% if schedule_id %}
                        <input type="hidden" name="schedule_id" value="{{ schedule_id }}">
                    {% endif %}

                    <button type="submit" class="btn-delete">削除</button>
                </form>
                <a href="{% url 'destinations:map_pin_edit' destination.id %}" class="btn-cancel">戻る</a>
            </div>
                
        </div>
    </div>

</body>