.memo-list{
    max-width: 360px;
    margin: 0 auto;
    padding:  76px 4px 32px;
    box-sizing: border-box;
}

.memo-item{
    background: #ffffff;
    padding: 20px 16px;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
}

.memo-item p{
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #592d13;
    word-break: break-word;
}

.memo-list .small-edit-btn{
    margin-top: 14px;
}
