/* タイトルの緑背景 */
.page-title {
    background: #b7d2b1ff;
    padding: 10px;
    color: #447d37;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    max-width: 380px;
    margin: 20px auto 10px auto;
    box-sizing: border-box;
}

.form-container{
    width: 90%;
    max-width: 380px;
    margin: 0 auto;
}

body{
    text-align: left;
    font-size: 17px;
    color: #592d13;
    background-color: #f7f7f7ff;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

label{
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* モーダル表示風 */
.modal-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-box{
    background: #f7f7f7;
    padding: 30px 20px;
    width: 90%;
    max-width: 320px;
    text-align: center;
    position: relative;
    border-color: #592d13;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

/* 完了ボタン */
.btn{
   padding: 10px 20px;
   text-decoration: none;
   display: block;
   background-color: #ffa158ff; 
   border: 2px solid #592d13;
   color: #592d13;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   margin-top: 12px;
   width: fit-content;
}

/* クリック・タップした瞬間 に適用される状態 */
.btn:active{
    background-color: #ff8c3a;
    transform: scale(0.97);
    border: 2px solid #592d13;
}