input[type="text"]{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #595959;
    box-sizing: border-box;
}

.search-btn{
   padding: 10px 20px;
   text-decoration: none;
   display: block;
   background-color: #ffa158ff; 
   border: 2px solid #592d13;
   color: #592d13;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   margin-top: 12px;
   width: fit-content;
}

/* クリック・タップした瞬間 に適用される状態 */
.search-btn:active{
    background-color: #ff8c3a;
    transform: scale(0.97);
    border: 2px solid #592d13;
}