<head>

<title>ホーム画面</title>

</head>

<body>
    <h1>ホーム画面</h1>

    <p>あとでちゃんと作る</p>

    <p>
        <a href="{% url 'plans:plan_list' %}">
            プランリストへ（仮）
        </a>
    </p>

    <p>is_authenticated: {{ request.user.is_authenticated }}</p>
    <p>user: {{ request.user }}</p>


    <h2>ショートカット</h2>
    <ul>
    {% for shortcut in shortcuts %}
        <li>
            <a href="{{ shortcut.url }}">
                {{ shortcut.position }} :
                {{ shortcut.shortcut_type.display_name }}
            </a>
        </li>
    {% endfor %}
    </ul>


</body>