<haed>
<!-- 画面設計図　スライド２ -->
    <title>ログイン画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'auth_app/login.css' %}">
</head>

<body>
    <div class="login-title">ログイン</div>

    <form method="POST" class="form-container">
        {% csrf_token %}

        <label>メールアドレス</label>
        <input type="email" name="email" placeholder="メールアドレス 入力" required>
        <label>パスワード</label>
        <input type="password" name="password" placeholder="********">

        <a href="#" class="forgot">パスワード忘れた方</a>

        <button class="btn" tpye="submit">ログイン</button>
        <a href="{% url 'auth_app:signup' %}" class="btn">アカウント登録</a>
    </form>

</body>