{% extends "base.html" %}
{% load static %}

{% block title %}
    home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    <link rel="stylesheet" href="{% static 'auth_app/signup.css' %}?v=1">
{% endblock %}

{% block header %}
    {% include "header.html" with header_title="アカウント登録" %}
{% endblock %}

{% block content %}
    <form method="POST" class="signup-form">
        {% csrf_token %}

        {% if error_message %}
            <p class="signup-error">{{ error_message }}</p>
        {% endif %}

        <div class="signup-field">
            <label for="id_username">アカウント名</label>
            <input
                type="text"
                id="id_username"
                name="username"
                placeholder="アカウント名 入力"
                value="{{ request.POST.username|default:'' }}"
                required
            >
        </div>

        <div class="signup-field">
            <label for="id_email">メールアドレス</label>
            <input
                type="email"
                id="id_email"
                name="email"
                placeholder="メールアドレス 入力"
                value="{{ request.POST.email|default:'' }}"
                required
            >
        </div>

        <div class="signup-field">
            <label for="id_password">パスワード</label>
            <input
                type="password"
                id="id_password"
                name="password"
                placeholder="＊＊＊＊＊＊＊＊"
                required
            >
        </div>

        <div class="signup-field">
            <label for="id_password_confirm">パスワード再入力</label>
            <input
                type="password"
                id="id_password_confirm"
                name="password_confirm"
                placeholder="＊＊＊＊＊＊＊＊"
                required
            >
        </div>

        <button type="submit" class="btn signup-submit">完了</button>

    </form>
{% endblock %}