<head>
<!-- 画面設計図　スライド9 -->
    <title>新規プラン設定画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'plans/plan_create.css' %}">
</head>

<body>

    <div class="page-title"></div>
    <form method="POST" class="form-container">
        {% csrf_token %}

        <!-- ↓modelsができたらここを開放して、下の部分を消す -->

        <!-- <label>旅行タイトル</label>
        {{ form.plan_name }}

        <label>出発日</label>
        {{ form.start_date }}
        <label>帰宅日</label>
        {{ form.start_date }} -->

        <label>旅行タイトル</label>
        <input type="text" name="text" placeholder="旅行タイトル 入力" required>

        <div class="form-group">
            <label>出発日</label>


            <div class="date-row">

                <select name="end_year">
                    <option value="">年</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                </select>

                <select name="start_month">
                    <option value="">月</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>

                <select name="start_day">
                    <option value="">日</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>

            </div>

            <label>帰宅日</label> 
            <div class="date-row">
       
                <select name="end_year">
                    <option value="">年</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                </select>

                <select name="end_month">
                    <option value="">月</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>

                <select name="end_day">
                    <option value="">日</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                
            </div>

        </div>

        <a href="#" class="btn">完了</a>

    </form>
</body>    