<head>
<!-- 画面設計図　スライド34 -->
    <title>プラン詳細画面（費用　編集）</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'plans/plan_cost_edit.css' %}">
</head>

<body>

    <div class="page-title">{{ plan.plan_name }}</div>

    {% if mode == "category_create" or mode == "category_edit" %}

    <!-- カテゴリー新規作成-->
    <form method="POST"
        action="{% if mode == 'category_create' %}
                    {% url 'plans:cost_category_create' plan.id %}
                {% else %}
                    {% url 'plans:cost_category_edit' plan.id category.id %}
                {% endif %}"
        class="form-container">
        {% csrf_token %}

        <label>カテゴリー名</label>
        <input type="text"
               name="name"
               placeholder="カテゴリー名　入力"
               value="{% if mode == 'category_edit' %}{{ category.name }}{% endif %}">
        <button type="submit" class="btn">完了</button>

        {% if mode == "category_edit" %}
            <a href="{% url 'plans:cost_category_delete' plan.id category.id %}"
                class="btn-delete-link">
                削除する
            </a>
        {% endif %}
    </form>
    
    {% else %}
    
    <!-- 費用項目 新規/編集 -->
    <form method="POST" class="form-container">
        {% csrf_token %}

        <label>金額カテゴリー</label>
        {{ form.category }}

        <label>項目名</label>
        {{ form.name }}

        <label>金額</label>
        {{ form.amount }}

        <button type="submit" class="btn">完了</button>
    </form>
    {% endif %}

</body> 