{% extends "base.html" %}
{% load static %}

{% block title %}
プラン詳細画面（詳細情報）
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    <link rel="stylesheet" href="{% static 'plans/plan_edit.css' %}">
{% endblock %}

{% block header %}
    {% include "header.html" with header_title=plan.plan_name header_icons='<a href="/memos/list/" class="icon-btn">📝</a><a href="/plans/plan_list/" class="icon-btn">🛫</a><href="/auth/home/" class="icon-btn">🏠</a>' %}
{% endblock %}

{% block content %}
    <form method="POST" class="container">    
        {% csrf_token %}

        <div class="detail-tab">詳細情報</div> 

        <div class="tab-content active">
            <div class="form-group">
                <label>旅行タイトル</label>
                <input type="text" name="plan_name" value="{{ plan.plan_name }}">
            </div>

            <div class="form-group">
            <label>出発日</label>

            <div class="date-row">

                <select name="start_year">
                    <option value="">年</option>
                    {% for year in years %}
                        <option value="{{ year }}" {% if year == plan.start_date.year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
                <span class="date-unit">年</span>

                <select name="start_month">
                    <option value="">月</option>
                    {% for month in months %}
                        <option value="{{ month }}" {% if month == plan.start_date.month %}selected{% endif %}>{{ month }}</option>
                    {% endfor %}
                </select>
                <span class="date-unit">月</span>

                <select name="start_day">
                    <option value="">日</option>
                    {% for day in days %}
                        <option value="{{ day }}" {% if day == plan.start_date.day %}selected{% endif %}>{{ day }}</option>
                    {% endfor %}
                </select>
                <span class="date-unit">日</span>

            </div>

            <label>帰宅日</label> 
            <div class="date-row">
       
                <select name="end_year">
                    <option value="">年</option>
                    {% for year in years %}
                        <option value="{{ year }}" {% if year == plan.end_date.year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
                <span class="date-unit">年</span>

                <select name="end_month">
                    <option value="">月</option>
                    {% for month in months %}
                        <option value="{{ month }}" {% if month == plan.end_date.month %}selected{% endif %}>{{ month }}</option>
                    {% endfor %}
                </select>
                <span class="date-unit">月</span>

                <select name="end_day">
                    <option value="">日</option>
                    {% for day in days %}
                        <option value="{{ day }}"  {% if day == plan.end_date.day %}selected{% endif %}>{{ day }}</option>
                    {% endfor %}
                </select>
                <span class="date-unit">日</span>

            </div>
        

            <div class="edit-action-buttons">
                <button type="submit" class="btn">完了</button>
                <a href="{% url 'plans:plan_delete' plan.pk %}" class="delete-btn">削除</a>
            </div>
        </div>    
    </form>
{% endblock %}  