<head>
<!-- 画面設計図　スライド9 -->
    <title>新規プラン設定画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'plans/plan_create.css' %}">
</head>

<body>

    <div class="page-title"></div>
    <form method="POST" class="form-container">
        {% csrf_token %}

        <label>旅行タイトル</label>
        {{ form.plan_name }}

        <label>出発日</label>
        {{ form.start_date }}
        
        <label>帰宅日</label>
        {{ form.end_date }}

        <button type="submit" class="btn">完了</button>

    </form>
</body>    