<head>
<!-- 画面設計図　スライド12 -->
<title>プラン詳細画面（詳細情報　削除）</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'plans/plan_delete.css' %}">

</head>

<body>
    <div class="page-title">☆☆旅行</div>
    
    <div class="modal-overlay">
        <div class="form-container modal-box">

            <p class="modal-message"> "☆☆旅行”を削除しますか？</p>
            
            <div class="delete-actions">
                <form method="POST" action="{% url 'plans:plan_list' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-delete">
                        削除
                    </button>
                </form>    


            <a href="{% url 'plans:plan_edit' %}" class="btn-cancel">戻る</a>
        </div>
    </div>

</body>