<head>
<!-- 画面設計図　スライド34 -->
    <title>プラン詳細画面（費用　編集）</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'plans/plan_cost_edit.css' %}">
</head>

<body>

    <div class="page-title">{{ plan.plan_name }}</div>

    <form method="POST" class="form-container">
        {% csrf_token %}

        <label>金額カテゴリー</label>
        {{ form.category }}

        <label>項目名</label>
        {{ form.name }}

        <label>金額</label>
        {{ form.amount }}

        <button type="submit" class="btn">完了</button>

    </form>

</body> 