<head>
<!-- 画面設計図　スライド8 -->
    <title>プランリスト画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'plans/plan_list.css' %}">
</head>

<body>

    <div class="page-title">プランリスト</div>

    <main class="plan-list">

        {% for plan in plans %}
        <div class="plan-item">
            <div class="plan-name">{{ plan.plan_name }}</div>
            <div class="plan-date">
                {{ plan.start_date }} 〜 {{ plan.end_date }}
            </div>
        </div>
        {% empty%}
            <p>まだプランがありません。</p>
        {% endfor %}

    </main> 

    <a href="{% url 'plans:plan_create' %}" class="add-btn">＋</a>

</body>    