<head>
<!-- 画面設計図　スライド15 -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>URL失効画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'layout.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'plans/share_revoke.css' %}?v=1">

</head>

<body>
    <div class="modal-overlay">
    
    <div class="page-title">{{ plan.plan_name }}</div>

    
        <div class="form-container modal-box">

            <p class="modal-message">{{ member.member_name }}のURLを失効しますか？</p>
            
            <div class="revoke-actions">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn-revoke">失効</button>
                </form>

                <a href="{% url 'plans:plan_detail' plan.id %}" class="btn-cancel">戻る</a>
            </div>
                
        </div>
    </div>

</body>