<head>
<!-- 画面設計図　スライド5 -->
    <title>メモ機能画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'memos/memo_list.css' %}">
</head>

<body>

    <div class="page-title">note</div>

    <input type="text" name="q" placeholder="目的地名 入力" value="{{ q }}">

    <main class="memo-list">

        <a href="{% url 'memos:memo_detail' %}" class="memo-item">
            <p  class="memo-title">天気予報</p>
            <p>天気予報 高知市の今日明日の天気 - 日本気象協会 </p>
        </a>

    </main> 

    <a href="{% url 'memos:memo_edit' %}" class="add-btn">＋</a>

</body>  