{% extends "base.html" %}
{% load static %}

{% block title %}
    メモ機能画面（詳細）
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'layout.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'memos/memo_detail.css' %}?v=3">
{% endblock %}

{% block header %}
    {% include "header.html" with header_title="メモ" header_icons='<a href="/destinations/search/" class="icon-btn">📍</a><a href="/plans/plan_list/" class="icon-btn">🛫</a><a href="/auth/home/" class="icon-btn">🏠</a>' %}
{% endblock %}

{% block content %}

    <main class="memo-list">

        <div class="memo-item">
            <p>{{ memo.content|linebreaksbr }}</p>
        </div>

        <a href="{% url 'memos:memo_edit' %}?memo_id={{ memo.id }}" class="small-edit-btn">メモ編集</a>

        <a
            href="{% url 'memos:memo_list' %}"
            class="btn"
            onclick="if (document.referrer && document.referrer.includes('/memos/list/')) { history.back(); return false; }"
        >
            一覧に戻る
        </a>

    </main> 

{% endblock %}