<head>
<!-- 画面設計図　スライド6 -->
    <title>メモ機能画面　（登録・編集）</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'memos/memo_edit.css' %}">
</head>

<body>

    <form method="post" class="memo-paper">
        {% csrf_token %}

        {% if memo %}
            <input type="hidden" name="memo_id" value="{{ memo.id }}">
        {% endif %}

        <textarea name="content" class="memo-textarea" placeholder="メモを入力">{{ memo.content|default:'' }}</textarea>

        <button type="submit" class="btn">完了</button>
    </form>

        <a href="{% url 'memos:memo_delete' %}" class="delete-btn">削除</a>

</body>  