/* 有効期限内 */
.share-container{
    width: 100%;
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.form-container{
    width: 100%;
    min-height: 620px;
    background-color: #efefefff;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    padding: 40px 20px 28px;
}

.form-container h1{
    margin: 14px 0 18px;
    padding-bottom: 10px;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 700;
    border-bottom: 1px solid #bdbdbd;
    text-align: center;
}

.form-container .section-label{
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.4;
}

.form-container .field-label{
    display: block;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 6px;
    line-height: 1.4;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    display: block;
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #595959;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.login-action-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}


/* パスワード忘れた方のリンク */
.forgot {
    text-align: right;
    display: block;
    margin: 0;
    font-size: 16px;
    width: fit-content;
    text-decoration: underline;
    line-height: 1.2;
}

.error-message{
    margin: 0 0 14px;
    font-size: 14px;
    font-weight: 700;
    color: #990000;
    text-align: center;
}


/* 有効期限外 */
.share-container.is-invalid{
    width: 100%;
    padding: 170px 24px 0;
    box-sizing: border-box;
}

.invalid-container{
    max-width: 480px;
    min-height: 250px;
    background-color: #efefefff;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    padding: 30px 18px 24px;
    text-align: center;
}


.invalid-container h1{
    margin: 0 0 26px;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 600;
    color: #592d13;
}

.invalid-container h2{
    margin: 0;
    font-size: 22px;
    line-height: 1.6;
    font-weight: 500;
    color: #592d13;
}