/* タイトルの緑背景 */
.page-title {
    background: #b7d2b1ff;
    padding: 10px;
    color: #447d37;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    max-width: 380px;
    margin: 20px auto 10px auto;
    box-sizing: border-box;
}

.form-container{
    width: 90%;
    max-width: 380px;
    margin: 0 auto;
}

body{
    text-align: left;
    font-size: 17px;
    color: #592d13;
    background-color: #f7f7f7ff;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

label{
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.plan-list{
    max-width: 360px;
    margin: 0 auto;
    padding:  16px;
}

.plan-item{
    display: block;
    background: #fff;
    padding: 14px;
    margin-bottom: 12px;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

.add-btn{
   padding: 10px 20px;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #ffa158ff; 
   border: 2px solid #592d13;
   color: #592d13;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   margin-top: 12px;

  /* ボタンの丸　*/
   width: 56px;
   height: 56px;
   border-radius: 50%;

  /*　画面内固定　*/
   position: fixed;
   bottom: 24px;
   right: 24px;
}

/* クリック・タップした瞬間 に適用される状態 */
.button:active{
    background-color: #ff8c3a;
    transform: scale(0.97);
    border: 2px solid #592d13;
}
