/* タブ全体 */
.tab-menu{
    display: flex;
    margin-bottom: 0;
}

/* 各タブ */
.tab-btn{
    padding: 10px 14px;
    background: white;
    border-bottom: 2px solid #ccc;  /* 非選択は下線を表示する */
    font-size: 14px;
    cursor: pointer;
    margin-right: 4px;
}

/* 各タブ   クリック・タップした瞬間 に適用される状態 */
.tab-btn.active{
    font-weight: bold;
    border-bottom: 2px solid white;
    z-index: 2;
}

/* タブの中身 */
.tab-content{
    display: none;
    padding: 16px;
    border: 1px solid #ccc;
    border-top: none;
    margin-top: -2px;
    background-color: white;
}

/* タブの中身  クリック・タップした瞬間 に適用される状態*/
.tab-content.active{
    display: block;
}


.form-group{
    margin-bottom: 20px;
}


/* ボタン同士の間隔をあける　*/
.delete-btn + .btn {
    margin-top: 10px;
}