.plan-list{
    padding:  16px;
}

.plan-item{
    display: block;
    background: #fff;
    padding: 14px;
    margin-bottom: 12px;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}
