/* タイトルの緑背景 */
.page-title {
    background: #b7d2b1ff;
    padding: 10px;
    color: #447d37;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    max-width: 380px;
    margin: 20px auto 10px auto;
    box-sizing: border-box;
    
}

.form-container{
    width: 90%;
    max-width: 380px;
    margin: 0 auto;
}

body{
    text-align: left;
    font-size: 17px;
    color: #592d13;
    background-color: #f7f7f7ff;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

label{
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #595959;
    box-sizing: border-box;

}

.btn{
   padding: 10px 20px;
   text-decoration: none;
   display: block;
   background-color: #ffa158ff; 
   border: 2px solid #592d13;
   color: #592d13;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   margin-top: 12px;
   width: fit-content;
}

/* クリック・タップした瞬間 に適用される状態 */
.btn:active{
    background-color: #ff8c3a;
    transform: scale(0.97);
    border: 2px solid #592d13;
}

/* パスワード忘れた方のリンク */
.forgot {
    text-align: right;
    display: block;
    margin-top: 10px;
    font-size: 14px;
}
