<head>

<title>アカウント</title>

</head>

<body>
    <div class="login-title">パスワード再設定</div>

    <form method="POST">
        {% csrf_token %}

        <p>左</p>
        <select name="left_shortcut" onchange="this.form.submit()">
            {% for type in shortcut_types %}
                <option value="{{ type.id }}"
                    {% if left_selected == type.id %}selected{% endif %}>
                    {{ type.display_name }}
                </option>
            {% endfor %}
        </select>

       <p>右</p>
       <select name="right_shortcut" onchange="this.form.submit()">
            <option value="">-- 未選択 --</option>

            {% for type in shortcut_types %}
                <option value="{{ type.id }}"
                    {% if right_selected == type.id %}selected{% endif %}>
                    {{ type.display_name }}
                </option>
            {% endfor %}
        </select>
    
    </form>

    <br>ホーム画面表示</br>
    <a href="{% url 'account:edit_email' %}" class="btn-second">メールアドレス編集</a>
    <a href="{% url 'account:change_password' %}" class="btn-second">パスワード編集</a>
    <a href="{% url 'account:logout' %}" class="btn-second">ログアウト</a>

</body>