<head>
<!-- 画面設計図　スライド38 -->
<title>パスワード編集画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'account/change_password.css' %}">

</head>

<body>
    <div class="login-title">パスワード編集</div>

    <form method="POST" class="form-container">
        {% csrf_token %}

        <label>現在のパスワード</label>
        <input type="password" name="old_password" required>
        <button type="button" class="toggle-password" date-target="old_password">👁</button>
        <label>新しいパスワード</label>
        <input type="password" name="new_password" required>
        <button type="button" class="toggle-password" date-target="new_password">👁</button>


        <button type="submit" class="btn">完了</button>


    <!-- モーダル表示 -->    
    {% if show_modal %}
        <div class="modal-overlay">
            <div class="modal-box">

                <!-- × ボタン（アカウント画面へ） -->
                <a href="{% url 'account' %}" class="modal-close">×</a>

                <p class="modal-message">
                    パスワードの再設定が完了しました。
                </p>

            </div>
        </div>        
    {% endif %}  
    </form>

    <!-- 👁 目のマーク表示 -->
    <script>
        document.querySelectorAll('toggle-password').forEach(btn => {
            btn.addEventListener('click', () => {
                const input = document.getElementById(btn.dateset.target);
                input.type = input.type === 'password' ? 'text' : 'password';
            });
        });
    </script>


</body>