{% extends "base.html" %}
{% load static %}

{% block title %}
    パスワード編集画面
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'layout.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'account/change_password.css' %}?v=3">
{% endblock %}

{% block header %}
    {% include "header.html" with header_title="パスワード編集" %}
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}

    <label for="old_password">現在のパスワード</label>
    <div class="password-field">
        <input type="password" name="old_password" required>
        <button type="button" class="toggle-password" date-target="old_password"></button>
    </div>
    {% if old_password_error %}
        <p class="form-error">{{ old_password_error }}</p>
    {% endif %}

    <label for="new_password">新しいパスワード</label>
    <div class="password-field">
        <input type="password" name="new_password" required>
        <button type="button" class="toggle-password" date-target="new_password"></button>
    </div>
    {% for error in new_password_errors %}
        <p class="form-error">{{ error }}</p>
    {% endfor %}

    <button type="submit" class="btn">完了</button>

</form>

<!-- モーダル表示 -->    
{% if show_modal %}
    <div class="modal-overlay">
        <div class="modal-box">

            <!-- × ボタン（アカウント画面へ） -->
            <a href="{% url 'account:account' %}" class="modal-close">×</a>

            <p class="modal-message">
                パスワードを<br>更新しました。
            </p>

        </div>
    </div>        
{% endif %}  

<!-- 👁 目のマーク表示 -->
<script>
    document.querySelectorAll('toggle-password').forEach(btn => {
        btn.addEventListener('click', () => {
            const input = document.getElementById(btn.dateset.target);
            input.type = input.type === 'password' ? 'text' : 'password';
        });
    });
</script>
{% endblock %}