<haed>
<!-- 画面設計図　スライド36 -->
<title>アカウント編集画面（アカウント名・メールアドレス）</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'account/edit_email.css' %}">

</head>

<body>
    <div class="login-title">アカウント編集</div>

    <form method="POST" class="form-container">
        {% csrf_token %}

        <label>アカウント名</label>
        <input type="text" name="username"  value="{{ user.username }}" placeholder="アカウント名">
        <label>メールアドレス</label>
        <input type="email" name="email" value="{{ user.email }}" placeholder="メールアドレス">

        <a href="{% url 'account' %}" class="btn">完了</a>

    </form>

</body>