<haed>
<!-- 画面設計図　スライド36 -->
<title>アカウント編集画面（アカウント名・メールアドレス）</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'account/edit_email.css' %}">

</head>

<body>
    <div class="login-title">アカウント編集</div>

    <form method="POST" class="form-container">
        {% csrf_token %}

        <label>アカウント名</label>
        {{ form.username }}
        <label>メールアドレス</label>
        {{ form.email }}

        <button type="submit" class="btn">完了</button>

    </form>

<!-- モーダル表示 -->    
    {% if show_modal %}
        <div class="modal-overlay">
            <div class="modal-box">

                <!-- × ボタン（アカウント画面へ） -->
                <a href="{% url 'account' %}" class="modal-close">×</a>

                <p class="modal-message">
                    アカウント名 メールアドレスを 更新しました。
                </p>

            </div>
        </div>        
    {% endif %}  
</body>