<head>
<!-- 画面設計図　スライド39 -->
<title>ログアウト画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'account/logout.css' %}">

</head>

<body>
    <div class="login-title">アカウント</div>
    
    <div class="modal-overlay">
        <div class="form-container modal-box">

            <p class="modal-message"> ログアウトしますか？</p>
            
            <div class="logout-actions">
                <form method="POST" action="{% url 'account:logout_execute' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">
                        ログアウト
                    </button>
                </form>    


            <a href="{% url 'account:account' %}" class="btn-cancel">戻る</a>
        </div>
    </div>

</body>