<head>
<!-- 画面設計図　スライド43 -->
<title>パスワード再設定完了画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'account/password_complete.css' %}">

</head>

<body>
    <div class="login-title">パスワード再設定</div>
    
    <div class="modal-overlay">
        <div class="form-container modal-box">

            <!-- × ボタン（アカウント画面へ） -->
            <a href="{% url 'account' %}" class="modal-close">×</a>

            <p class="modal-message">
                パスワードの再設定が完了しました。
            </p>
        </div>
    </div>
</body>


