<head>
<!-- 画面設計図　スライド41 -->
<title>メール送信画面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'account/password_reset_done.css' %}">

</head>

<body>
    <div class="login-title">メール送信</div>
    
    <div class="modal-overlay">
        <div class="form-container modal-box">

            <!-- × ボタン（ログイン画面へ） -->
            <a href="{% url 'auth_app:login' %}" class="modal-close">×</a>

            <p class="modal-message">
                メールアドレスにパスワード再設定のURLを送りました。
            </p>
        </div>
    </div>

</body>