{% extends "base.html" %}
{% load static %}

{% block title %}
    home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    <link rel="stylesheet" href="{% static 'account/password_reset.css' %}?v=4">
{% endblock %}

{% block header %}
    {% include "header.html" with header_title="パスワードを忘れた場合" %}
{% endblock %}

{% block content %}
    <form method="POST" class="password-reset-form">
        {% csrf_token %}

        {% if share_token %}
            <input type="hidden" name="share_token" value="{{ share_token }}">
        {% endif %}

        <div class="password-reset-field">
            <label for="id_email">パスワード再設定のURLを送ります。<br>メールアドレスを入力してください。</label>
            <input
                type="email"
                name="email"
                id="id_email"
                placeholder="メールアドレス 入力"
                required
            >
        </div>

        <div class="password-reset-actions">
            <button type="submit" class="btn">送信</button>

            <a href="{% url 'auth_app:login' %}" class="login-back-btn">
                ログイン画面に<br>戻る
            </a>
        </div>
    </form>
{% endblock %}