{% extends "base.html" %}
{% load static %}

{% block title %}
    home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    <link rel="stylesheet" href="{% static 'account/password_reset_done.css' %}?v=1">
{% endblock %}

{% block header %}
    {% include "header.html" with header_title="メール送信" %}
{% endblock %}

{% block content %}

    <div class="modal-overlay">
        <div class="modal-box">
            <!-- × ボタン（ログイン画面へ） -->
            <a href="{% url 'auth_app:login' %}" class="modal-close">×</a>

            <p class="modal-message">
                メールアドレスに<br>パスワード再設定の<br>URLを送りました。
            </p>
        </div>
    </div>

{% endblock %}