body{
    text-align: center;
    font-size: 17px;
    color: #592d13;
}

p{
    line-height: 1.75;
}

.btn-second{
   padding: 12px 32px;
   text-decoration: none;
   display: inline-block;
   background-color: #dccf7fff; 
   border: 2px solid #592d13;
   color: #592d13;
   border-radius: 5px;
   font-size: 18px;
   font-weight: bold;
}

.btn-second:hover{
    background-color: #c2b568;
    border: 2px solid #592d13;
}

.btn-second:active{
    background-color: #c2b568;
    transform: scale(0.97);
    border: 2px solid #592d13;
}

.btn{
   padding: 16px 40px;
   text-decoration: none;
   display: inline-block;
   background-color: #ffa158ff; 
   border: 2px solid #592d13;
   color: #592d13;
   border-radius: 5px;
   font-size: 22px;
   font-weight: bold;
}

.btn:hover{
    background-color: #ff8c3a;
    border: 2px solid #592d13;
}

.btn:active{
    background-color: #ff8c3a;
    transform: scale(0.97);
    border: 2px solid #592d13;
}

.links{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


@media (max-width: 480px) {
   
    h1{
        font-size: 22px;
    }

    p{
        font-size: 14px;
        line-height: 1.7;
    }

    .btn-second {
        width: 80%;
        font-size: 15px;
        padding: 12px 0;
    }

    .btn{
        font-size: 16px;
        padding: 12px 20px;
        width: 80%;
    }

    .links {
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }


    a{
        font-size: 14px;
        margin: 0 6px;
    }
}